* {
    background-color: aliceblue;
    color: #062726;
    font-family: 'Quicksand', sans-serif;
}

button {
    background-color: #6247aa;
    color: white;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

#list {
    display: flex;
}

button {
    width: 20%;
    margin: 3px;
    text-align: left;
}